/* 
    페이지 폭 1200px
    서체: noto sans KR
    글자색상 : #35302d
    메뉴 텍스트 굵기 : 500
    메인컬러 : #35302d
    서브컬러 : #bf2428
*/

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  li { list-style-type: none;}
  a {
    text-decoration: none;
    color: #35302d;
  }
  body {
    /* font-family: 'Nanum Gothic', sans-serif; */
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 16px;
    color: #35302d;
  }
  .accent {color: #bf2428!important;}
  
  /* header */
  #main_header {
    width: 1200px; height: 160px;
    /* background: #ccc; */
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #999;
  }
  #main_header > h1 { 
    position: relative;
    top: 50px;
  }
  #main_header > h1 > a > img {
    position: absolute;
    float: left;
    width: 80px;
    left: 40px;
  }
  
  /* gnb */
  #gnb {
    width: 1000px; height: 30px;
    /* background: #ccc; */
    margin: 0 auto;
    position: relative;
  }
  
  #gnb > .depth1 {
    position: absolute;

    left: 100px;
    z-index: 999;
  }
  #gnb > .depth1 > li {
    float: left;
    width: calc(800px / 5);
    text-align: center;
    /* outline: 1px solid red; */
  }
  #gnb > .depth1 > li > a {
    height: 30px;
    display: block;
    line-height: 30px;
    font-weight: 500;
  }
  #gnb > .depth1 > li > a:hover {
    border-bottom: 3px solid #bf2428;
  }
  
  /* 2depth menu */
  #gnb .depth2 {
    background: rgba(200,200,200, 0.85);
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 124px;
    display: none;
  }
  #gnb .depth2 > li {
    margin-bottom: 10px;
  }
  #gnb .depth2 > li > a:hover {
    color: #bf2428;
  }
  
  /* 메인 비주얼 */
  section#visual {
    /* outline: 2px solid red; */
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 50px;
  }
  
  /* bxslder 테두리 제거 */
  .bx-wrapper { border: none; }
  
  
  /* 섹션 공통 제목 스타일 */
  section {
    text-align: center;
  }
  section h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #bf2428;
    text-transform: uppercase;
  }
  section h2 > span { 
    font-size: 24px;
  }
  section h3 { 
    font-size: 28px;
    margin-bottom: 20px;
  }
  .line {
    display: inline-block;
    width: 80px;
    border-bottom: 3px solid #bf2428;
    margin-bottom: 20px;
  }
  
  /* News */
  #news {
    width: 1200px;
    margin: 0 auto;
    /* outline: 2px solid red; */
    overflow: hidden;
  }
  #news > .news_banner { margin-bottom: 20px;}
  #news > .news_banner > img {
    width: 100%;
  }
  
  #news > aside,
  #news > article {
    width: 50%;
    float: left;
    /* outline: 2px solid green; */
  }
  #news > aside img { width: 100%;}
  #news > aside > a:first-child > img {
    margin-bottom: 20px;
  }
  #news > article { 
    padding: 30px 20px 0 40px;
  }
  
  /* article 뉴스 기사 목록 */
  #news > article > .list1 > li,
  #news > article > .list2 > li {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
  }
  #news > article > .list1 > li > span,
  #news > article > .list2 > li > span { float: right;}
  #news > article > .list1 > li > a,
  #news > article > .list2 > li > a { float: left;}
  
  #news > article > .list1 { margin-bottom: 40px;}
  
  /* 창업안내 섹션 */
  #foundation {
    width: 1200px;
    overflow: hidden;
    /* outline: 2px solid red; */
    margin: 0 auto;
    padding: 60px 0;
  }
  #foundation > figure > img { width: 100%;}
  #foundation .line { 
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  #foundation > .info_list {
    overflow: hidden;
    /* outline: 2px solid green; */
  }
  #foundation > .info_list > li {
    float: left;
    width: 183.33px;
    margin-right: 20px;
  }
  #foundation > .info_list > li:last-child {
    margin-right: 0;
  }
  #foundation > .info_list > li img {
    width: 100%;
  }
  /* 첫번째 info list 크기 조정 */
  #foundation > .info_list > li:first-child {
    width: calc(366.66px + 20px);
    /* outline: 1px solid red; */
  }
  #foundation > .info_list > li:first-child img{
    width: 100%; 
    height: 182.16px;
  }

/* sns 섹션 */
#sns {
    padding: 60px 0;
    background: #f2f2f4;
    width: 1200px;
    margin: 0 auto;
}
#sns > h2 > span {
    text-transform: lowercase;
}
#sns .sns_photo  li  img {width: 100%;}
#sns .sns_photo {
    overflow: hidden;
}
#sns .sns_photo li {
    float: left;
    width: 240px;
    height: 240px;
}

#main_footer {
    width: 1200px;
    margin: 0 auto;
    background: #000;
    text-align: center;
    color: #fff;
    padding: 60px 0;
}
#main_footer > .footer_logo {
    margin-bottom: 10px;
}
#main_footer > .footer_logo > img {
    width: 200px;
}
.footer_menu > li {
    display: inline-block;
}
.footer_menu a {
    color: #fff;
    font-size: 14px;
}
