
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
  li { list-style-type: none;}
  a {
    text-decoration: none;
    color: #35302d;
  }
  body {
    font-family: 'Raleway', sans-serif;
    font-weight: 16px;
    margin: 0 auto;
    /* color: #35302d; */
  }
  .accent{
      border-bottom: 3px solid #000;
  }
  #main_header {
    width: 1200px; height: 160px;
    /* background: #ccc; */
    margin: 0 auto;
    text-align: center;
    position: relative;
    /* outline: 2px solid red; */
  }
  #main_header > h1 > a > img:nth-child(1) {
      position: absolute;
      width: 80px;
      left: 30px; top: 40px;
    }
    #main_header > h1 > a > img:nth-child(2){
        position: absolute;
        width: 30px;
        right: 80px; top: 80px;
    }
    #main_header > h1 > a > img:nth-child(3){
        position: absolute;
        width: 30px;
        right: 40px; top: 80px;
    }
  #gnb {
    width: 1200px; height: 30px;
    /* background: #ccc; */
    /* margin: 0 auto; */
    position: absolute;
    left: 280px; top: 80px;
  }
  
  #gnb > .depth1 {
    /* position: absolute; */
    z-index: 999;
  }
  #gnb > .depth1 > li {
    float: left;
    width: calc(700px / 5);
    text-align: center;
    /* outline: 1px solid red; */
  }
  
  #gnb > .depth1 > li > a {
    height: 30px;
    display: block;
    line-height: 30px;
    font-weight: 500;
  }
  #gnb > .depth1 > li > a:hover {
    border-bottom: 3px solid #000;
  }
  
  /* 2depth menu */
  #gnb .depth2 {
    background: rgba(200,200,200, 0.85);
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    height: 124px;
    display: none;
  }
  #gnb .depth2 > li {
    margin-bottom: 10px;
  }
  #gnb .depth2 > li > a:hover {
    color: #bf2428;
  }
  
  #menu{
     /* width: 1200px; */
     max-width: 1920px;
     min-width: 1200px;
      margin: 0 auto;
      /* overflow: hidden; */
      /* position: relative; */
      
  }
  .sub_menu{
      width: 1200px; 
      height: 40px;
      line-height: 40px;
      margin: 0 auto;
      /* position: relative; */
  }
  .sub_menu > li {
      float: left;
      text-align: center;
    }
  .sub_menu > li > a {
      margin-right: 30px;
  }
  .line{
    border-bottom: 1px solid rgb(235, 227, 227);
    margin: 0 auto;
    }

  #new_menu{
      width: 1200px;
      margin: 0 auto;
      text-align: center;
      overflow: hidden;
  }
  #new_menu > h2 {
      margin-bottom: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: normal;
  }
  #new_menu p {
      color: #888;
      margin-bottom: 80px;
  }
  .menu_box {
    /* overflow: hidden; */
    position: relative;
}

  .menu_box ul li  {
    padding: 60px 0;
    background: #f2f2f4;
    border-radius: 50px;
    width: 1200px;
    float: left;
    width: 190px;
    height: 280px;
    margin-right: 110px;
    margin-bottom: 100px;
    position: relative;
    text-align: center;
}

.menu_box ul li:last-child{
    margin-right: 0;
}
.menu_box ul  li  img {
    width: 135px;
    position: absolute;
    left: 28px; top: 10px;
}

.menu_box ul li p {
    position: absolute;
    bottom: 10px; 
    left: 30px;
    font-size: 16px;
    font-weight: bold;
    width: 130px;
}


.add{
    background: #fff;
    padding: 10px 15px 10px 15px;
    border: #fff;
    border-radius: 10px;
    font-size: 12px;
    position: absolute;
    bottom: 20px; left: 40px;
}
.add:hover{
    background: #000;
    color: #fff;
}
.menu_box ul li address{
    font-size: 14px;
    color: #aaa;
}
  #main_footer {
    max-width: 1920px;
    min-width: 1200px;
    margin: 0 auto;
    background: #000;
    text-align: center;
    color: rgb(150, 145, 145);
    padding: 60px 0;
    position: relative;
}
#main_footer > .footer_logo {
    margin-bottom: 10px;
}
#main_footer > .footer_logo > img {
    width: 60px;
}

.footer_menu{
    position: absolute;
    top: 30px; left: 560px;
    margin: 0 auto;
    
}
.footer_menu > li {
    /* display: inline-block; */
    float: left;
    width: calc(800px / 6);
    top: 0;
}
.footer_menu a {
    color: rgb(150, 145, 145);
    font-size: 14px;
}
.sns{
    position: absolute;
    width: 80px;
    right: 20px; top: 20px;
    
}
.copy{
    margin-top: 20px;
}